<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners>
    <listener class-name=""></listener>
</listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Sampath Velupula/IdeaProjects/WhiteBoxQa">
        <classes>
            <class name="PageTestPackage.HomePageTest">

        </class>
        <class name="PageTestPackage.LoginPageTest">

        </class>


        </classes>

    </test>

</suite>